
 
<% layout('/layouts/boilerplate.ejs') -%>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-4">
      <% for(let listing of allListings) { %>
      <a href="/listings/<%= listing._id %>" class="card-textt">
        <div
          class="card col listing-card img-container"
          style="width: 23rem; padding: 0.6rem"
        >
          <div class=" " style="border-radius: 1rem">
            <img
              src="<%= listing.image.url %> "
              class="card-img-top"
              alt="Card_image"
              style="height: 20rem; padding: 0.6rem"
            />
          </div>

          <div class="card-body">
            <p class="card-text">
              <b> <%= listing.title %></b><br />
              <span style="font-size: 1rem"
                >&#8377; <%= listing.price.toLocaleString("en-IN") %> / night
                <i class="tax-info">&nbsp;&nbsp;&nbsp;&nbsp;+18% GST</i>
              </span>
            </p>
          </div>
        </div>
      </a>
      <% } %>
    </div>
  </div>
</div>